html,
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;

	.mb-5 {
		margin-bottom: 0 !important;
	}
}

.footer {
	margin-top: auto;
}
