.footer {
	background-color: rgb(39, 39, 39);
	padding: 20px 0;
	font-size: 32px;
	color: #fff;

	text-align: center;

	@media (max-width: 1200px) {
		font-size: 26px;
	}
}

.footer__copyright {
	font-size: 32px;
}
